[submodule "VimeoCommon"]
	path = VimeoCommon
	url = git@github.vimeows.com:MobileApps/VimeoCommon.git
[submodule "Submodules/VimeoCommon"]
	path = Submodules/VimeoCommon
	url = git@github.vimeows.com:MobileApps/VimeoCommon.git
